@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
#banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), #47381b),
    url(images/coffee.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.logo {
  width: 140px;
  position: absolute;
  top: 4%;
  left: 1%;
}
.banner-text {
  text-align: center;
  color: #fff;
  padding-top: 180px;
}
.banner-text h1 {
  font-size: 130px;
  font-family: "Kaushan Script", cursive;
}
.banner-text p {
  font-size: 20px;
  font-style: italic;
}
.banner-btn {
  margin: 70px auto 0;
}
.banner-btn a {
  width: 150px;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  padding: 12px 0;
  color: azure;
  border: 0.5px solid #fff;
  position: relative;
  z-index: 1;
  transition: color 0.5s;
}
.banner-btn a span {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  z-index: -1;
  transition: 0.5s;
}
.banner-btn a:hover span {
  width: 100%;
}
.banner-btn a:hover {
  color: black;
}
#sideNav {
  width: 250px;
  height: 100vh;
  position: fixed;
  right: -250px;
  top: 0;
  background: #47381b;
  z-index: 2;
  transition: 0.5s;
}
nav ul li {
  list-style: none;
  margin: 50px 20px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
}
#menubtn {
  width: 50px;
  height: 50px;
  background: transparent;
  text-align: center;
  position: fixed;
  right: 30px;
  top: 20px;
  border-radius: 3px;
  z-index: 3;
}
#menubtn img {
  width: 35px;
  margin-top: 8px;
}
@media screen and (max-width: 770px) {
  .banner-text h1 {
    font-size: 44px;
  }
  .banner-btn a {
    display: block;
    margin: 20px auto;
  }
}
#products {
  width: 100%;
  padding: 70px 0;
}
.title-text {
  text-align: center;
  padding-bottom: 70px;
}
.title-text p {
  margin: auto;
  font-size: 20px;
  color: #ff7518;
  font-weight: 1000;
  position: relative;
  z-index: 1;
  display: inline-block;
}
.title-text p::after {
  content: "";
  width: 50px;
  height: 35px;
  background: linear-gradient(#e4945e, #fff);
  position: absolute;
  top: -20px;
  left: 0;
  z-index: -1;
  transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
.title-text h1 {
  font-size: 50px;
}
h2,
.h2,
h2.title {
  text-align: center;
  font-family: Righteous, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  line-height: 1.5;
  color: #333333;
  display: block;
  letter-spacing: 2px;
  text-rendering: optimizeLegibility;
  font-size: 28px;
  margin-bottom: 0.75em;
}
.feature_divider {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 40px;
  display: block;
  border: 0;
  border-color: #aaaaaa;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.center {
  text-align: center;
}
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 14px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}
.center_fix {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.service-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
.single-service {
  flex-basis: 100%;
  text-align: center;
  border-radius: 7px;
  margin-bottom: 20px;
  color: #fff;
  position: relative;
}
.single-service img {
  width: 100%;
  border-radius: 7px;
}
.responsive {
  width: 100%;
  height: auto;
}
.image__overlay {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 7px;
  cursor: pointer;
  background: linear-gradient(0, 0, 0, 0.6);
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: 0.43s;
}
.image__overlay:hover {
  opacity: 1;
}
.image__title {
  font-size: 2em;
  font-weight: bold;
}
.column_prod {
  float: left;
  width: 50%;
  margin-bottom: 14px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}
.title-class {
  background: cornsilk;
}
.text_h5 {
  text-align: center;
}
.column_prod button {
  position: absolute;
  border-radius: 120px;
  outline: 0;
  padding: 8px;
  color: white;
  background-color: #47381b;
  text-align: center;
  cursor: pointer;
  width: 20%;
  font-size: 18px;
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
  transform: translateX(65%);
}
.column_prod button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.column_prod button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.column_prod button:hover span {
  padding-right: 25px;
}

.column_prod button:hover span:after {
  opacity: 1;
  right: 0;
}
.select-box {
  display: flex;
  width: 400px;
  flex-direction: column;
}

.select-box .options-container {
  background: #dbca91;
  color: #f5f6fa;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;
  transform: translateX(40%);
  order: 1;
}

.selected {
  background: #dbca91;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #f5f6fa;
  position: relative;
  transform: translateX(40%);
  order: 0;
}

.selected::after {
  content: "";
  background: url("images/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;

  transition: all 0.4s;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}

.select-box .option:hover {
  background: #414b57;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}
